<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ '/' | relative_url }}">Inicio</a></li>
          <li class="masthead__menu-item"><a href="{{ '/expositores/' | relative_url }}">Expositores</a></li>
          <li class="masthead__menu-item"><a href="{{ '/actividades/' | relative_url }}">Actividades</a></li>
          <li class="masthead__menu-item"><a href="{{ '/resumenes/' | relative_url }}">Resúmenes</a></li>
          <li class="masthead__menu-item"><a href="{{ '/publicaciones/' | relative_url }}">Publicaciones</a></li>
          <li class="masthead__menu-item"><a href="{{ '/faq/' | relative_url }}">FAQ</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>